.demo{
    background-color: aqua;
}
.one{
    background-color: black;
}
.two{
    background-color: blue;
}
.three{
    background-color: blueviolet;
}
.four{
    background-color: brown;
}
.five{
    background-color: chartreuse;
}
.six{
    background-color: red;
}